include *.rst
include .coveragerc
include LICENSE
include Makefile
include tox.ini
exclude circle.yml
exclude .bumpversion.cfg
exclude .editorconfig

recursive-include docs *.rst conf.py Makefile make.bat
recursive-include docs/images *
recursive-include tests *
recursive-include requirements *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

prune docs/_build
